article {
  border: black solid;
  padding: 2rem 2rem 0rem;
  margin-bottom: 1.5rem;
}

article:hover {
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  font-weight: bold;
}

article:hover #tweet-footer-icons {
  visibility: visible;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#tweet-footer-icons {
  visibility: hidden;
}

header > .user-handle {
  margin-left: auto;
}

#the-actual-tweet {
  word-break: break-all;
}

.each-tweet-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: solid black;
  padding: 1rem 0rem;
}

.each-tweet-footer > span {
  margin-right: auto;
}

.username-in-tweet {
  padding-left: 0.5rem;
}

.tweet-post-date {
  font-size: 1rem;
}
