.main-header {
  margin-bottom: 2rem;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(90deg, rgba(130,40,40,1) 0%, rgba(245,138,11,1) 78%);
}

.main-header img {
  padding-bottom: 16px;
}

.user-profile-name {
  font-weight: 500;
  color: white;
  margin: 0;
}

.username-and-handle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
}


