nav {
  width: 100%;
  font-family: 'Bungee', cursive; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background: linear-gradient(90deg, rgba(130,40,40,1) 0%, rgba(245,138,11,1) 78%);
  color: #FFFF;
}

.nav-text {
  margin: 0 1.5em 0 1.5em;
}

.logo {
  font-size: 32px;
}

.write-tweet {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nav-btn-icon {
  color: red;
}

#write-new-tweet-btn > p {
  margin: 0;
}

#write-new-tweet-btn {
  border-radius: 6px;
  border: white solid thin;
  background: none;
  cursor: pointer;
  color: white;
  outline-color: white;
}

#write-new-tweet-btn:hover {
  transition: all 0.2s linear;
  background: #bbbbbb;
}

#write-new-tweet-btn:focus {
  border: white solid thin;
}


