nav {
  position: fixed;
  top: 0;
  width: 100%;
  font-family: 'Bungee', cursive; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background-color: #4056A1;
  color: #FFFF;
}

.nav-text {
  margin: 0 1.5em 0 1.5em;
}

.logo {
  font-size: 32px;
}

.write-tweet {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-angle-double-down {
  color: red;
}